/*Elementos del inicio*/
.inicio {
  margin-top: 20px;
  margin-bottom: 20px;
}
.inicio p {
  margin-top: 10px;
}
.cont-inicio {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-inicio img {
  width: 180px;
}
.h4-princ {
  font-size: 30px;
  font-weight: var(--fuente-secundaria);
  color: var(--rosa-profundo);
  margin-top: 20px;
  margin-bottom: 20px;
}
/*Fin del inicio*/